@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.toc-content a {
    color: black;
    text-decoration-line: none;
    
}
.toc-content li::marker{
    color:#79e3fb;
}
.toc-main{
    background-color: rgba(151, 151, 151, 0.303);
}
.main-yorusika h2{
    border-bottom:  2px solid gray;
}
.menber ,.supportmenber ,.profile2,.name{
    margin-bottom: 50px;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    
}

.profile2 dt{
    color: rgb(74, 197, 197);
    margin-top: 10px;
}
.profile2 {
    letter-spacing: 3px;
}
nav{
    display: flex;
    width: 80%;
    margin: 20px auto;
    align-items: center;
    font-weight: 550;
}
.main{
    font-size: 1.2rem;
    overflow: hidden;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul{
    list-style: none;
}
.nav-links ul li {
    display: inline-block;
    padding: 0 2rem;
}

.nav-links ul a {
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links ul a:hover{
    color: rgb(236, 183, 183);
}

.logo {
    width: 50%;
    height: 50%;
    margin-right: 12px;
}
.logo-area {
    flex-basis: 20%;
    display: flex;
    align-items: center;
}
.logo-area ,.nav-links{
    font-family: "Ubuntu", sans-serif;
}
.name span{
    background: linear-gradient(transparent 80%, #79e3fb 50%);
}
.toc2 h3{
    border-left: 4px solid #888888;
    padding: 1px 3px;
    ;
    
}

