.toc-content a {
    color: black;
    text-decoration-line: none;
    
}
.toc-content li::marker{
    color:rgb(163, 255, 255);
}
.toc-main{
    background-color: rgba(128, 128, 128, 0.46);
}
h3 {
    border-bottom:  2px solid gray;
}
